//ПЕРВЫЙ БЛОК
@mixin violet_button {
  margin: auto;
  border-radius: 40px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #8D81AC;

  color: #FFFFFF;
}
@mixin flex-content{
  display: flex;
  justify-content: center;
}
@mixin flex-align{
  display: flex;
  align-items: center;
}
@mixin title_navigation{
  font-family: Montserrat;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
//// ВТОРОЙ БЛОК
@mixin title_navigation{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
}

@mixin title_text{

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
@mixin aside_title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
@mixin aside_title-h5{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
@mixin aside_text{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
//ЧЕТВЕРТЫЙ БЛОК
@mixin price-title{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
}
@mixin price__title-small{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@mixin price__sell{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@mixin price__license{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
@mixin logo_name{
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
}
@mixin description{
  font-family: Lato;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
@mixin edition{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}