@import "reset";
@import "mixin";
@import "variable";
@font-face {
  font-family: Lato;
  src: url("fonts/Lato-Light.woff");
}
@font-face {
font-family: Montserrat;
  src: url("fonts/Montserrat-Light.woff");
}

.header{
  min-width: 320px;
  width: 100%;
  height: 105px;

  background-color: #3B3B3B;
  &__section{
    @include flex-align;
    padding-top: 34px;
    justify-content: space-between;
  }

  &__logo{
    cursor: pointer;
    margin-left: 16px;
    height: 40px;
    width: 41px;
    background-image: url("/src/img/icons/Logo 3.svg");
  }
  &__logo:hover{
    background-image: url("/src/img/icons/logo-hover 1.svg");
  }
  &__button{
    height: 37px;
    width: 119px;
    margin-left: 60px;
    @include violet_button;
  }
  &__button:hover{
    background: $color-white;
    color: $color-purple;
  }
  &__menu{
    margin-right: 24px;
    width: 22px;
    height: 23px;
    background: url("../img/icons/menu.svg")
  }
  &__menu.is-active{
    margin-right: 24px;
    width: 22px;
    height: 23px;
    background: url("../img/icons/cancel.svg");
  }
  &__item {

    display: none;
    margin: auto;
    background: #3B3B3B ;
  }
  &__list{
    display: flex;
    justify-content: center;
  }

  &__item.is-active {
    margin-top: 30px;
    position: absolute;
    width:292px;
    height: 379px;
    display: block;
  }
  &__item-box{
    position: relative;
    width: 292px;
    height: 88px;

    @include flex-align;
    border-bottom: 2px solid $color-grey;

  }
  &__item-box:hover::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 55px;
    background-color:$color-purple;
  }
  &__item-section{
    @include title_navigation;

    padding-left: 36px;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 1.1px;
    text-decoration: none;
    color: $color-white;
  }
  &__item-section:hover{
    color:$color-purple;
  }
  &__logo-name{
    display: none;
  }
}



@media all and (min-width: 481px){
  .header{
    min-width: 481px ;
    height: 118px;
    &__section{
      padding-top: 0;
      display: flex;
      justify-content: space-between;
    }
    &__logo{
      margin-top: 24px;
    }
    &__logo-name{
      cursor: pointer;
      display: block;
      @include logo_name;
      margin-left: 17px;
      margin-top: 23px;
      text-transform: uppercase;

      color: $color-purple;


    }
    &__logo-name:hover{
      color:$color-white;
    }
    &__button{
      cursor: pointer;
      margin-top: 24px;
      margin-right: 20px;
    }
    &__button:hover{
      background: $color-white;
      color: $color-purple;
    }
    &__menu{
        display: none;
      }
    &__item{
      display: flex;
      justify-content: center;
      //margin-right:auto;
      width: 80%;
      background: none;
    }
    &__item-section{
      @include aside_title-h5;

      @include flex-align;

      color: $color-purple;
    }
    &__item-section:hover{
      color: $color-white;
    }
    &__item-box{
      border-bottom: none;
      width: auto;
      height: 40px;
      margin-right: auto;

    }
    &__item-box:hover::before{
      content: ' ';
      display: none;

    }

  }
  .footer__button:hover{
    background:$color-white;
    color: $color-purple;
  }
  }
@media all and (min-width: 993px){
  .logo-name{
    width: 118px;
    height: 18px;
    @include logo_name;
    @include flex-align;
    text-transform: uppercase;
  }
.header{
  height: 0;
  background: none;
  &__logo{
    margin-left: 70px;
  }
  &__button{
    margin-right: 60px;
  }
  &__section{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 50%;
    margin-top:-41px;
    margin-left: 31%;
  }
  &__item-box{
    width: auto;
  }
}
}

.main{
  height: 591px;

  &__section{
    padding-top: 183px;
    background-image: url("/src/img/backgrounds/img 1.png");
    height: 614px;
    min-width: 320px;
    background-position: center center;
    background-size: cover;
    margin: auto;
  }
  &__title{
   @include title_navigation;
    text-align: center;
    font-size: 48px;
    line-height: 48px;

    font-weight: bold;

    padding-top: 50px;
    padding-bottom: 19px;

    color: $color-white;

  }
  &__description{
    @include title_navigation;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    padding-bottom: 14px;

    color: $color-purple;

  }
  &__edition{
  @include title_navigation;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-grey;


  }
}
.footer {
  margin-top: 184px;

  &__button{
    cursor: pointer;
    height: 45px;
    width: 290px;
    @include violet_button;
  }
  &__button:hover{
    background: $color-white;
    color: $color-purple;
  }
  &__info{
    @include title_navigation;

    text-align: center;
    color: $color-grey;
    font-size: 14px;
    line-height: 14px;
    padding-top: 13px ;

  }
}

////ВТОРОЙ БЛОК


.link {
  text-decoration: none;
}

.section {
  &__container {
    padding: 0 20px;
  }

  &__title {
    @include title_navigation;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 27px;
    margin: auto;
    max-width: 273px;

  }

  &__text {
    @include title_text;
    text-align: center;
    padding-bottom: 35px;
    max-width: 861px;
    margin: auto;
  }

  &__container-button {
    margin: auto;
    max-width: 250px;
    gap: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__button {
    width: 108px;
    align-items: center;
    font-size: 14px;
    display: flex;
    padding: 4px;
    cursor: pointer;
    border: 1px solid rgba(132, 142, 151, .3);
    background: rgba(132, 142, 151, 0.1);
    border-radius: 6px;
  }

}

.button-box {
  @include flex-align;
}

.button-img {
  padding-left: 3px;
  height: 15px;
  width: 15px;

}

.button-text {
  color: rgba(50, 50, 50, 1);

  font-weight: bold;
  padding-right: 5px;
  padding-left: 5px;
}

.button-number {
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(132, 142, 151, 0.2);
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

@media all and (min-width: 481px) {
  .section {

    &__text {
      max-width: 698px;
      font-size: 21px;
      line-height: 32px;
      padding-bottom: 13px;
    }

    &__title {
      max-width: 698px;
      padding-top: 95px;
      padding-bottom: 33px;
      font-size: 42px;
      line-height: 42px;
      margin: auto;
    }

    &__container-button {
      @include flex-content;

      max-width: 698px;
    }
  }
}

.aside {
  margin: auto;
  padding-top: 100px;
  text-align: center;

  &____container {
  }

  &__title {
    @include aside_title;
    padding-bottom: 36px;
    @include flex-content;
  }

  &__img {
    display: block;
    margin: auto;
  }

  &__subtitle {
    @include aside_title-h5;
    padding-top: 25px;
    padding-bottom: 16px;
  }

  &__text {
    @include aside_text;
    padding-bottom: 37px;
  }

  &__img-footer {

    width: 100%;

  }
}

@media all and (min-width: 481px) {
  .aside {

    &__container {
      max-width: 700px;
      justify-items: start;
      margin: 0 auto;
      display: grid;
      gap: 0 20px;
      grid-template-columns: 115px auto;
      grid-template-areas:
      "image subtitle"
      "image text";

    }

    &__img {
      grid-area: image;
    }

    &__subtitle {
      align-items: center;
      grid-area: subtitle;
    }

    &__text {
      text-align: left;
      grid-area: text;
    }

  }
}

@media all and (min-width: 993px) {
  .aside {
    gap: 20px 20px;
    align-items: center;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "container title"
    "container footer";
    background: $color-white;

    &__title {
      padding-bottom: 0;
      grid-area: title;
      font-size: 48px;
      line-height: 50px;
    }

    &__container-box {
      padding-left: 90px;
      max-width: 550px;
      grid-area: container;

    }

    &__img-footer {
      width: 100%;
      grid-area: footer;
    }
  }
  .section{
    &__text{
      max-width: 860px;
    }
    &__button{
      margin-bottom: 70px;
    }
  }

}
////////////ТРЕТИЙ БЛОК
.content{
  background-position: center center;

  background-image: url("/src/img/backgrounds/testmonials-bg 1.png");
  min-width: 320px;
  background-size: cover;
  margin-bottom: -14px;
  &__title{
    padding-top: 57px;
    margin-bottom: 53px;
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    @include title_navigation;

    color:$color-white;

  }
  &__item{
    width: 287px;
    margin: auto;
    padding-bottom: 41px;
  }
  &__logo{
  @include flex-content;
    padding-bottom: 30px;
  }
  &__description{
    @include description;

    @include flex-align;
    text-align: center;
    color: $color-white;
  }
  &__edition{
    max-width: 704px;
    margin: auto;
    position: relative;
    height: 150px;
    @include edition;
    text-align: center;
    color: #A291A5;
  }


}
@media all and (min-width: 481px){
  .content{
    &__main{
      display: flex;
      flex-wrap: wrap;
      gap:40px;
    }
    &__item{
      width: 315px;
      height: 142px;
      margin: auto;
    }
    &__description{
     @include description;

      @include flex-align;
      text-align: center;

      color:$color-white;

    }
    &__edition{
      height: 100px;
      @include edition;
    padding-bottom: 20px;
      @include flex-align;
      text-align: center;
      color: #A291A5;

    }
    &__edition::after{
      content: "";
      position: absolute;
      padding-bottom:92px;
      max-width: 555px;
      width: 100%;
      border-bottom: 2px solid rgba(100, 87, 102, 1);
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);

    }
  }
}
@media all and (min-width: 993px){
  .content{
    height: 770px;
    &__main{
      margin: auto;
    max-width: 1200px;

    }
    &__title{
      padding-top: 110px;
    }
    &__edition{
      padding-top: 110px;
      margin: auto;
      height: 35px;
    }
    &__edition::after{
      padding-bottom:154px;

      max-width: 760px;
      width: 100%;


    }
  }
}

.subscription{
  background-image: url("/src/img/backgrounds/Layer 2 1.png");
  background-size: cover;
}

// ЧЕТВЕРТЫЙ БЛОК ______________

.price{
  background-image: url("/src/img/backgrounds/Layer 2 1.png");
  text-align: center;
  padding-bottom: 30px;
  &__title{
    @include price-title;
    padding-bottom: 32px;
  }
  &__container{
    display: grid;
    gap: 20px;
  }
  &__block{

    background: rgba(255,255,255,0.05);
    margin: auto;
    max-width: 257px;
    width: 90%;

    height: 457px;
  }
  &__title-box{
    width: 100%;
    height: 97px;
    background: rgba(255, 255, 255,0.05);

    display: flex;
  }
  &__title-small{
    @include price__title-small;
    margin: auto;
  }
  &__sell{
    @include price__sell;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  &__month{
    @include price__title-small;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 30px;

  }
  &__month::after{
    content: "";
    margin: auto;
    display: block;
    padding-bottom: 39px;
    width: 60px;
    border-bottom: 5px solid rgba(141, 129, 172, 1);
  }
  &__license{
    @include price__license;
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
  }
  &__button{
    @include price__title-small;
    height: 42px;
    width: 160px;
    font-size: 15px;
    line-height: 15px;
    border-radius: 30px;
    border: 0;
    background: rgba(255, 255, 255,0.05);
  }
}
.strange {
  background: rgba(0, 0, 0, 0.1);
  height: 560px;
  max-width: 257px;
  width: 100%;
  margin: auto;

  &__title-box {
    width: 100%;
    height: 110px;
    background: rgba(0,0,0, 0.2);
    display: flex;

  }
  &__title-small{
    @include price__title-small;
    margin: auto;
  }
  &__sell{
    @include price__sell;
    font-size: 82px;
    line-height: 84px;
    padding-top: 15px;
    padding-bottom: 16px;
  }
  &__month {
    @include price__title-small;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 46px;
  }
  &__month::after{
    content: "";
    margin: auto;
    display: block;
    padding-bottom: 40px;
    width: 60px;
    border-bottom: 5px solid rgba(141, 129, 172, 1);
  }
  &__license{
    @include price__license;
    padding-bottom: 85px;
    width: 70%;
    margin: auto;
  }
}
@media all and (min-width: 481px) {
  .price {
    padding-top: 80px;
    padding-bottom: 100px;
    &__container {
      max-width: 600px;
      margin: 0 auto;
      display: grid;
      gap: 15px 15px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
      "students professional"
      "strange enterprise";

    }

  }
  .strange{
    max-width: 300px;
    width: 100%;
  }
}
@media all and (min-width: 993px){
  .price {
    padding-top: 110px;
    &__title{
      padding-bottom: 60px;
    }
    &__container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-template-areas:
      "students professional strange enterprise";
    }
    &__block{
      max-width: 257px ;
      width: 100%;
    }

  }
  .strange{
    max-width: 300px;
    width: 100%;
  }
}
